*, *::after, *::before {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font: italic small-caps bold 16px/2 cursive;
  }
  
  html {
    background-image: url("./background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }


  video {
    
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.6);
  }
    
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* h1 {
    font-size: 5vh;
    margin: 2.5vh;
    color: rgb(0, 0, 162);
  } */

  img {
  /* filter: brightness(1.5); */
  filter: drop-shadow(5px 4px 3px rgb(217, 56, 56));
  position: fixed;
  top: -50px;
  }
  
  #board {
    position: fixed;
    top: 150px;
    padding-top: 10vmin;
    width: 70vmin;
    height: 60vmin;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    /* background-image: url("https://i.pinimg.com/originals/95/e5/67/95e567db7de137e07938e4149aa9e59c.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    filter: brightness(1);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    z-index: 1;

  }
  
  .cell {
    position: relative;
    display: flex;
  }
  
  .cell::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent 60%, rgb(150, 96, 96) 60%);
    z-index: 2;
  }
  
  .piece {
    border-radius: 50%;
    flex-grow: 1;
    margin: 5%;
  }
  
  .piece[data-player="1"] {
    background-image: url("pexels-btgl-♡-3894157.jpg");
  }
  
  .piece[data-player="2"] {
    /* background-color: rgb(242, 255, 0); */
    background-image: url("https://images.pexels.com/photos/96590/pexels-photo-96590.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  }
  
  .piece[data-placed="false"] {
    transform: translateY(-10vmin);
  }
  
  
  
  /* MODAL */
  
  
  #modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(207, 189, 189, 0.5);
    padding-top: 15vh;
  }
  
  #modal-content {
    position: relative;
    width: 80vw;
    margin: auto;
    padding: 2.5vmin;
    background-color: rgb(222, 222, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: animatetop;
    animation-duration: 0.3s;
  }
  
  @keyframes animatetop {
    from {top:-30vmin; opacity:0}
    to {top:0; opacity:1}
  }
  
  #modal-message {
    font-size: 5vmin;
    margin: 2.5vmin;
  }
  
  #modal-message[data-winner="1"] {
    color: rgb(5, 87, 87);
    filter: brightness(2);
    /* background: ; */
  }
  
  #modal-message[data-winner="2"] {
    color: rgb(255, 0, 0);
    
  }
  
  #reset {
    color: darkblue;
    font-size: 3vh;
    margin: 2.5vmin;
    padding: 2.5vmin;
    background-color: rgba(88, 233, 93, 0.653);
    font-weight: bold;
  }